.imgLogo{
    width : 100%;
    height : auto;
    object-fit: contain;
}

.fa-logoFarmapiel:before{
    content: '';
    display: inline-block;
    width: 6em;
    height: 6em;
    background-image: url("/img/Imagenes Farmapiel/Farmapiel Logo verde PNG (Transparente).png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: .3em;
}

.fachada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 65vh;
    min-width: 83vw;
    background-position: center;
    border-radius: 14px;
}

.proposito{
    display: flex;
    margin: auto 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100vw;
    min-height: 65vh;
    height: auto;
    border-radius: 14px;
}

.img-proposito{
    width: 100%;
    height: auto;
    margin: auto 0;
    display: flex;
}

.img-proposito::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    z-index: 1;
}

.blur{
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 1em;
    border-radius: 14px;
    backdrop-filter: blur(30px);
}

.blur-inline{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 1em;
    border-radius: 14px;
    backdrop-filter: blur(30px);
    display: inline;
    float: right;
}

.blur-inline::before{
    text-align: right;
}

.textoCentrado{
    text-align: center;
    text-align-last: center;
}

.textoCentrado-100{
    padding: 115px 0;
    text-align: center;
    text-align-last: center;
}

.quote{
    text-align: right;
    color: rgba(79, 187, 184, 1);
}

@media(min-width: 360px){
    .fachada{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/glass-skin-2.png");
    }
    .proposito{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/blood-test-360.jpg");
    }
}

@media(min-width: 768px){
    .fachada{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/glass-skin-2.png");
    }
    .proposito{
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/blood-test-640.jpg");
    }
}

@media(min-width: 1366px){
    .fachada{
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/glass-skin-2.png");
    }
    .proposito{
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/blood-test-1280.jpg");
    }
}

@media(min-width: 1920px){
    .fachada{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/glass-skin-2.png");
    }
    .proposito{
        background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), 
        url("/img/Imagenes Farmapiel/rsrc/blood-test-1920.jpg");
    }
}